env/
.idea
**/__pycache__/
!data/.gitkeep
data/happy_people/*
!data/happy_people/.gitkeep
data/sad_people/*
!data/sad_people/.gitkeep
*.jpg
data/test/*
.DS_Store
!logs/.gitkeep
logs/train/*.v2
!logs/train/.gitkeep
logs/validation/*.v2
!logs/validation/.gitkeep
models/happysadmodel.h5
!models/.gitkeep
